:root {
    --bg-color1: #0f0e0e;
    --bg-color2: #202122;
    --aqi-1: #d4e157;
    --aqi-2: #ffee58;
    --aqi-3: #ffca28;
    --aqi-4: #ff7843;
    --aqi-5: #ef5350;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}

body {
    min-height: 100vh;
    background-color: var(--bg-color1);
    color: #fff;
    font-family: sans-serif;
    padding: 0 15px;

}

.header {
    position: sticky;
    top: 0;
    background-color: var(--bg-color2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: 15px 0;


    & #city_input {
        background-color: var(--bg-color2);
        padding: 12px;
        font-size: 16px;
        border-radius: 25px;
        color: white;

        &:focus {
            outline: none;
        }

    }

    & #searchbtn {
        border: none;
        font-size: 16px;
        padding: 12px;
        border-radius: 25px;
        background-color: #5dbea3;
        cursor: pointer;
    }

    & #locationbtn {
        border: none;
        font-size: 16px;
        padding: 12px;
        border-radius: 25px;
        background-color: #5dbea3;
        cursor: pointer;
    }

}

.card {
    background-color: var(--bg-color2);
    padding: 15px;
    border-radius: 15px;
    margin-bottom: 15px;

    & p {
        font-size: 14px;
        color: #999;

    }

    & h2 {
        font-size: 32px;
        font-weight: 500;

    }

}

.weather-data {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;

    & .weather-left {
        grid-column: span 1;

        & .current-weather {
            display: flex;
            justify-content: space-around;
            align-items: center;

            & h2 {
                margin: 7px 0;

            }

            & p {
                color: beige;

            }

        }

        & .card-footer p {
            font-size: 15px;
            margin-bottom: 15px;
        }

        & .forecast-item {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            place-items: center;
            margin-bottom: 15px;

            & .icon-wrapper {
                padding: 15px;
                display: flex;
                align-items: center;
            }

            & .img {
                margin-top: 5px;
                margin-bottom: 10px;
                margin-right: 8px;
            }


        }
    }

    & .weather-right {
        grid-column: span 3;

        & h2 {
            margin-bottom: 10px;

        }

        & .highlights {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            column-gap: 15px;

            & .card:nth-of-type(1),
            & .card:nth-of-type(2) {
                grid-column: span 2;
            }

            & .card-head {
                display: flex;
                justify-content: space-between;
                margin-bottom: 10px;

                & .air-index {
                    color: black;
                    padding: 5px 10px;
                    border-radius: 15px;

                    &.aqi-1 {
                        background-color: var(--aqi-1);
                    }

                    &.aqi-2 {
                        background-color: var(--aqi-2);
                    }

                    &.aqi-3 {
                        background-color: var(--aqi-3);
                    }

                    &.aqi-4 {
                        background-color: var(--aqi-4);
                    }

                    &.aqi-5 {
                        background-color: var(--aqi-5);
                    }
                }
            }

            & .air-indices {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                place-items: center;

                & p {
                    text-align: center;

                }

            }

            & .sunrise-sunset {
                display: grid;
                grid-template-columns: repeat(2, 1fr);

                & .item {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                }

            }

            & .card-item {
                display: flex;
                justify-content: space-between;

            }
        }

        & .hourlyweather {
            display: grid;
            grid-template-columns: repeat(8, 1fr);
            column-gap: 10px;

            & .card {
                text-align: center;

            }

        }


    }

}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
}

@media(max-width: 1100px) {
    .weather-data {
        grid-template-columns: repeat(3, 1fr);

        & .weather-right {
            grid-column: span 2;

            & .highlights {
                grid-template-columns: repeat(3, 1fr);

                & .card:nth-of-type(1) {
                    grid-column: span 3;
                }
            }

            & .hourlyweather {
                grid-template-columns: repeat(6, 1fr);

            }
        }

    }
}

@media(max-width: 1040px) {
    .weather-data {
        grid-template-columns: repeat(2, 1fr);

        & .weather-right {
            grid-column: span 1;

            & .highlights {
                grid-template-columns: repeat(2, 1fr);

                & .card:nth-of-type(1) {
                    grid-column: span 2;
                }
            }

            & .hourlyweather {
                grid-template-columns: repeat(4, 1fr);

            }
        }

    }
}

@media(max-width: 992px) {
    .weather-data .weather-right .highlights {
        & .card {
            grid-column: span 2;

        }

        & .air-indices {
            grid-template-columns: repeat(3, 1fr);
        }

    }
}

@media(max-width: 850px) {
    .weather-data {
        grid-template-columns: 1fr;

        & .weather-right .highlights {

            & .card:nth-of-type(3),
            & .card:nth-of-type(4),
            & .card:nth-of-type(5),
            & .card:nth-of-type(6),
            & .card:nth-of-type(7) {
                grid-column: span 1;
            }

            & .air-indices {
                grid-template-columns: repeat(5, 1fr);

            }
        }

    }
}

@media(max-width: 660px) {
    .header {
        flex-direction: column;

        & h2 {
            margin-bottom: 8px;

        }

        & #city_input,
        #searchbtn,
        #locationbtn {
            width: 100%;
            margin-bottom: 10px;

        }
    }

}

@media(max-width: 580px) {
    .weather-data .weather-right .highlights .air-indices {
        grid-template-columns: repeat(4, 1fr);

    }


}

@media(max-width: 520px) {
    .weather-data .weather-right .highlights {

        & .card:nth-of-type(3),
        & .card:nth-of-type(4),
        & .card:nth-of-type(5),
        & .card:nth-of-type(6),
        & .card:nth-of-type(7) {
            grid-column: span 2;
        }

        & .air-indices {
            grid-template-columns: repeat(3, 1fr);

        }

    }
}

@media(max-width: 480px) {
    .weather-data .weather-right .highlights .sunrise-sunset {
        grid-template-columns: 1fr;

    }


}
@media(max-width: 450px) {
    .weather-data .weather-right .hourlyweather{
        grid-template-columns: repeat(3, 1fr);

    }
@media(max-width: 425px) {
    .weather-data .weather-right .hourlyweather{
        grid-template-columns: repeat(3, 1fr);

    }


}


}
@media(max-width: 380px) {
    .weather-data .weather-right .highlights .air-indices{
        grid-template-columns: repeat(2, 1fr);

    }


}
